* {
    font-family: sans-serif, 'Times New Roman';

}
.home {
    background-color:greenyellow;
}
body {
font-size: 20px;
}
.ingr {
    color: red;
}
.chkn,
.ingr {
    font-size: 17px;
}
#stptwo {
    font-weight: lighter;
    color: peru;
}
.stp { 
    color: blueviolet;
}
.stpfour {
    background-color: red;
    text-align: center;
}